<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><b>HEllo! This side CliX</b></title>
</head>
<body>
<h1>Welcome to the text analyazer, Enter your text blow</h1>
<form action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; width:721px; height:93px;'></textarea>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <button type="submit">Analyze Text</button>
</form>


</body>
</html>